body {
    background-image: linear-gradient(to right, red, blue);
    color: white;
}

ul{
    list-style-type: none;
    background-image: linear-gradient(to left, red, blue);
    color: white;
    font-size: 200%;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    border: black 5px solid;
    cursor: pointer;
    font-family: verdana;
    overflow: hidden;
    }

li a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

li a {
    float: left;
    padding: 16px;
    color: white;
    text-decoration: none;
}

.titulo {
    font-size: 150%;
}

.opcao {
    padding-top: 5px;
    font-size: 120%;
}

.botao {
    background-image: linear-gradient(to left, red, blue);
    color: white;
    font-size: 150%;
    font-family: arial;
    border: 2px solid black;
    width: 90px;
    height: 40px;
}

.botao:hover {
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), black);
    color: white;
}